td,
th {
  padding: 10px;
  font-family: Montserrat;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 18px;
  margin: 10px;
  border-radius: 8px;
  padding-top: 85px;
  height: 340px;
  background-color: #ffffff;
}

#wavy-header {
  max-height: 20vmin;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.container {
  width: 95%;
}

section.footer {
  margin-top: 15px;
  background-color: black;
  position: relative;
  font-family: Montserrat;
  padding: 25px 0px;
}
.footer__content {
  text-align: center;
  color: #fff;
  background-color: black;
}
.footer__content img {
  width: 5%;
  position: absolute;
  top: -50px;
  border: 1px solid red;
}
.footer__heading {
  position: relative;
}
.footer__heading h2 {
  background-color: black;
  display: inline-block;
  padding: 0px 10px;
  /* border: 1px solid; */
  position: relative;
  z-index: 9999;
}
.footer__heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  height: 5px;
  margin: 0;
  border-radius: 50px;
  width: 20%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}
.footer__content p {
  font-size: 12px;
  font-weight: 100;
  padding: 10px 0px;
}
ul.social__media {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}
ul.social__media li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
ul.social__media li a {
  color: #fff;
  font-size: 20px;
}
ul.social__media li {
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: #1aae8a;
  line-height: 40px;

  box-shadow: 0px 1px #fff;
  box-shadow: 0 2px 4px -1px #fff, 0 0px 20px 0px #fff;
}

ul.bus__list {
  padding: 0;
  margin: 0;
}

ul.bus__list li {
  list-style-type: none;
  margin-bottom: 5px;
}
